:root{
    --width-ratio:16;
    --height-ratio:9;
    --min-player-height:240px;
    --min-player-width: calc(var(--min-player-height)*(var(--width-ratio)/var(--height-ratio)));    
    --max-player-height: calc(100vh);
    --max-player-width: calc((100vh)*(var(--width-ratio)/var(--height-ratio)));
}

th {
    text-align: center;
}

.main-color {
    color:#0080FF;
}

.contents{
    white-space:pre-line
}

.mediaOut{
    position:relative;
    padding-top:calc(var(--height-ratio)/var(--width-ratio)*100%);
    background-color:gray;
    min-width:var(--min-player-width);
    min-height:var(--min-player-height);
    max-width:var(--max-player-width);
    max-height:var(--max-player-height);
}

.mediaIn{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
}

.mediaIn img{
    height:100%;
    object-fit:cover;
}

.mediaThumbDiv{
    width:100%;
    overflow-x:auto;
    display:inline-flex
}

.mediaImgDiv{
    position:relative;
    margin-right:10px;
}

.mediaImgDiv svg{
    position:absolute;
    top:5px;
    right:5px;
}

.mediaThumbImg{
    width:100px;
    height:100px;
}


@media (min-width: 1400px){
    .container{
        max-width:1200px;
    }
}
